header .header {
  height: 60px;
  max-height: 60px;

  .ui.dropdown.categories {
    .menu {
      height: 250px;
      overflow: scroll;
    }
  }
}

.breadcrumbs {
  min-width: 500px;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
}
