.flash-messages {
  display: flex;
  justify-content: center;
  align-items: center;

  .ui.message.flash-message {
    width: 80%;
    position: absolute;
    top: 100px;
    -webkit-transform: translateY(-50%); /* Safari用 */
    transform: translateY(-50%);

    p {
      margin: 0
    }

    .close.icon {
      line-height: 24px;
    }
  }
}
