.upload-container {
  margin: 4em auto;
  max-width: 700px;

  .slide-preview {
    text-align: center;
  }

  .step-content {
    margin-bottom: 20px;
    display: none;

    .segment {
      padding: 3em;
      padding-top: 5em;
    }

    &.active {
      display: block;
    }

    &.one {
      padding: 3em auto;
      text-align: center;

      .example {
        color: #aaa;
        margin-bottom: 20px;
        text-align: center;

        p {
          margin: 0;
        }
        b {
          padding-right: 5px;
          color: #FFA726;
        }
      }
    }

    &.two {
      > .segment {
        padding-bottom: 60px;
      }
    }
  }
}
